h1 {
    color:crimson;
}
p {
    color: darkblue:
}
body {
    background-image: url("background1.jpg");
    background-color: #cccccc;
    background-repeat: no-repeat;
    background-size: 1920px 1080px;
  }